* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    padding-top: 60px;
}


/* Thanh điều hướng  */

.navigation {
    background-color: #FFF6D1 !important;
    padding: 5px 0;
}

.navigation a {
    position: relative;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #5B4737;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #ff69b4;
}

.nav-item a:not(.dropdown-item)::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff69b4;
    transition: width 0.3s ease;
}

.nav-item a:hover::after {
    width: 100%;
}

main {
    min-height: 600px;
}


/* Footer  */

footer {
    padding: 0px;
    margin: 0;
}

footer .top-footer {
    background-color: #FFF6D1 !important;
    font-size: 0.9em;
    padding-top: 8px;
    color: black;
    min-height: 130px;
}

footer .top-footer a {
    color: black;
    text-decoration: none;
}

footer .top-footer i {
    font-size: 2em;
    margin: 2px;
}

footer .bot-footer {
    color: white;
    background-color: #ff8aa4;
    /* height: 30px; */
}


/*Hình ảnh trang Home*/

.rounded-5:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
    /* Đổ bóng */
}


/*carousel*/

.carousel-item:hover {
    transform: scale(1.02) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}


/* form */

.form-message {
    text-align: left;
}

.form-group .form-message {
    color: #ffa5a5;
}

.form-message {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-left: 10%;
    margin-top: 0%;
    padding: 4px 0 0;
}

#top {
    position: absolute;
    top: 0px;
}

.form-warning {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    color: red;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border: none !important;
}

.dropdown-item:hover {
    background: none !important;
}

.dropdown-menu {
    background-color: #FFF6D1 !important;
}